.carda{
   box-shadow: 2px 2px 3px darkslateblue;
   background-color: rgba(0, 0, 0, 0.479);
}

body{
   background-color: rgba(240, 230, 140, 0.37);
}

.ancla{
   color: rgba(240, 230, 140, 0.726);
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.inicio{
   color: wheat;
   font-family: fantasy;
}

.texto{
   border: solid 3px rgba(102, 51, 153, 0.651);
   border-radius: 10px;
   background-color: rgba(222, 184, 135, 0.356);
}

.texto h2{
   text-transform: uppercase;
   text-align: center;
   text-size-adjust: 30px;
   letter-spacing: 2px;
   color: rgba(139, 0, 139, 0.678);
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   margin-top: 10px;
}

.texto p{
   color: rgba(139, 0, 139, 0.678);
   font-family: Georgia, 'Times New Roman', Times, serif;
   letter-spacing: 2px;
   margin-top: 10px;
}

.ancla:hover{
   color: white;
}

.inicio:hover{
   color: white;
}

.border{
   border-radius: 10px;
}

.h{
   color: rebeccapurple;
   font-family: cursive;
}

#img{
   height: 200;
   width: 100%;
   background-color: cadetblue;
}